<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ product.name }} - Blog Detail</title>
	<style>
		.highlight {
			background-color: white;
			color: black;
			padding: 0px;
			border: 0px solid black;
			font-size: 48px; 
		}
		.product-info1 {
			font-size: 32px;
		}
		.product-info2 {
			font-size: 24px;
		}
	</style>

</head>
<body>
	<h1><span class="highlight"><center>{{ product.name }} - Blog</center></span></h1>
	
	<div>
		<center><img src="{{ product.image.url }}" alt="{{ product.name }}" width="300" height="250"></center>
	</div>
	<h2 class="product-info1">{{ product.name }}</h2>
	<p class="product-info2">{{ product.description }}</p>
	<a href="{% url 'edit_product' product.pk %}" style="font-size: 24px;">Edit</a>
	<br>
	<br>
	<a href="{% url 'delete_product' product.pk %}" style="font-size: 24px;">Delete</a>
	<br>
	<br>
	<a href="{% url 'product_list' %}" style="font-size: 24px;">Back to Home Page</a>
</body>
</html>
